html {
	background-color: #000000;
	color: #ffffff;
	font-family: Monospace;
}

h1 {
	font-weight: normal;
}

div.levelbox {
	float: left;
	margin: 1em;
	text-align: center;
}

div.levelbox a {
	text-decoration: none;
	color: #ffffff;
}
