html {
	background-color: #000000;
	color: #ffffff;
	font-family: Monospace;
	text-align: center;
}

h1 {
	font-weight: normal;
}

div.levelbox {
	margin-bottom: 3em;
	text-align: center;
}

div.levelbox a {
	text-decoration: none;
	color: #ffffff;
}
